<ion-header class="ion-text-center">
  <ion-toolbar color="dark" class="ion-padding ">
    <img width="60%" src="../../../assets/image/logo.png" />
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-margin-bottom">
      <ion-col size="4">
        <img src="../../../assets/image/image.gif">
      </ion-col>
      <ion-col size="8">
        <ion-title class="textTitle">
          Selecione um Deck
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col *ngFor="let deck of decks" size="6">
        <ion-card (click)="goListCard(deck)" color="secondary" class="flex-center">
          <img width="80%" class="ion-margin-top" [src]="deck.img">
          <h4>{{deck.name}}</h4>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>